{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Medilab Bootstrap Template - Index</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="conainer">
    <div class="navbar" style="color:azure; background-color: rgb(49, 8, 121);">
      <ul style="display: flex; list-style: none; text-decoration: none;">
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
      </ul>
    </div>
    <div class="row" style="margin: 3px;">
      <div class="left-section-text" style="width: 20%;background-color: rgb(49, 8, 121);height: 650px;padding: 2px;">
        <div>
          <button type="button" class="btn"
            style="color: white;width: 100%;text-align:left;background-color:rgb(49, 8, 121);">Block level
            button</button>
        </div>
        <div>
          <button type="button" class="btn"
            style="color: white;width: 100%;text-align:left;background-color:rgb(49, 8, 121);">Block level
            button</button>
        </div>
        <div>
          <button type="button" class="btn"
            style="color: white;width: 100%;text-align:left;background-color:rgb(49, 8, 121);">Block level
            button</button>
        </div>
        <div>
          <button type="button" class="btn"
            style="color: white;width: 100%;text-align:left;background-color:rgb(49, 8, 121);">Block level
            button</button>
        </div>
        <div>
          <button type="button" class="btn"
            style="color: white;width: 100%;text-align:left;background-color:rgb(49, 8, 121);">Block level
            button</button>
        </div>
      </div>
      <form action="" >
        {% csrf_token %}
        <input type="text" name="doctor">
        <a href="/findDoctor/{{doctor}}" class="btn btn-primary">Find</a>
      </form>
      <div class="right-section" style=" width:78.5%; margin-left:0.5%;">
        <div class="title" style="width: 100%;">
          <div class="heading" style="padding-left:0 50%">
            <h3>Available Doctors</h3>
          </div>
        </div>
        <div class="doctors">
          <div class="row">
            {% for doctor in doctors %}
            <div class="card col-3" style="width: 18rem;">
              <img class="card-img-top" width="48" height="48" src="{{images}}/{{doctor.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{doctor.doctorName}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="/addAppointment/{{doctor.id}}" class="btn btn-primary">Book Appointment</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </form>
    <div>
    </div>
  </div>
</body>
</html>